@page
@model WebApp01.Pages.HtmlHelperEx04Model
@{
}

<h1>Html Helper Demo, Ex-04</h1>

@using (Html.BeginForm())
{
    @Html.Label("a", "Enter No1: ");
    @Html.TextBox("a", "", new { type = "number" });
    <br />

    @Html.Label("b", "Enter No2: ");
    @Html.TextBox("b", "", new { type = "number" });
    <br />
    <button name="b1" value="add">Add</button>
    <button name="b1" value="sub">Sub</button>
    <button name="b1" value="big">Big</button>
    <button name="b1" value="small">Small</button>
    <br />
}

@ViewBag.Message
<br />

Goto:
<a asp-page="/htmlhelperex01">Ex-01</a> |
<a asp-page="/htmlhelperex02">Ex-02</a> |
<a asp-page="/htmlhelperex03">Ex-03</a> |
<a asp-page="/htmlhelperex05">Ex-05</a> |
<a asp-page="/htmlhelperdemo">Index</a> |
