@page
@model WebApp01.Pages.HtmlHelperEx06Model
@{}

<h1>HTML Helper, Ex-06</h1>

@using (Html.BeginForm())
{
    @Html.Label("t1", "Enter Name: ");
    @Html.TextBox("t1");
    <br />

    @Html.CheckBox("terms");
    @Html.Label("terms", "Terms and Conditions"); <br />



    <button>Say Hello</button>
    <br />

}


@ViewBag.Message
<br />

Goto:
<a asp-page="/htmlhelperex01">Ex-01</a> |
<a asp-page="/htmlhelperex02">Ex-02</a> |
<a asp-page="/htmlhelperex03">Ex-03</a> |
<a asp-page="/htmlhelperex04">Ex-04</a> |
<a asp-page="/htmlhelperex05">Ex-05</a> |
<a asp-page="/htmlhelperdemo">Index</a> |
